body {
    font-family: 'Nunito', sans-serif;
}
button[name="delete"] {
    background: white;
    height: 17px; 
    width: 17px;
    font-size:auto;
}
.menu{
    margin: 0;
    pading: 0;
    display: inline-block;
}

#div1 {
    display: inline-block;
}

.menu ul{
    margin: 0;
    pading: 0;
    list-style-type: none;
    height: 35px;
    line-height: 35px;     
}

.menu ul li{
    margin: 0;
    padding: 0;
    float: left;
    position: relative;
}
.ul li a{background-color: gray;}
.menu ul li a{
    margin: 0;
    padding: 0 10px;
    text-decoration: none;
    color: white;
    display: block;
    font-size: 1vw;
}

.menu ul li:hover ul{ display:block;}

.menu ul li ul{
    position: absolute;
    left: 0;
    top: 30px;
    display: none;
    padding: 0;

}

.menu ul li ul li{
    padding: 10px 0;
    height: 35px;
    line-height: 25px;
    width: 100%;
}
